.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#startUpload {
  background: #29bfa4;
  color: white;
}

#showPopup {
  z-index: 100;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #365c86;
  height: 3em;
  width: 75%;
  color: white;
}

#date {
  position: absolute;
  z-index: 99;
  left: 55px;
  top: 10px;
  width: 215px;
}

.form-control:hover {
  background-color: #f4f4f4;
}

.form-control {
  border: 2px solid rgb(0,0,0);
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}

#gauge {
  width: 10% !important;
  height: 200px !important;
  display: none;
  position: absolute;
  left: 5%;
  top: 3%;
  z-index: 99;
}

.show-gauge {
  visibility: visible !important;
  display: inherit !important;
}
